<div style="width:600px;height:350px">
<input {{final_attrs}} >
<div id="{{map_id}}" style="width:600px;height: 300px;margin-top: 1em"></div>
</div>

<script type="text/javascript">
	var {{map_id}};
	var {{cluster_manager}};
	var {{model_manager}}
		
	$(document).ready(function(){
			{{map_id}} = new GMap2(document.getElementById("{{map_id}}"));
			gogogo.mapSetup({{map_id}});
			{{model_manager}} = new gogogo.ModelManager();
			{{cluster_manager}} = new gogogo.ClusterManager({{map_id}},{{model_manager}});
			
			var pt = new GLatLng({{value}});
			var options = {
				"draggable" : true
			};
			
			var marker = new GMarker(pt,options);
			{{map_id}}.addOverlay(marker);	
			var {{marker_id}} = marker;
			{{map_id}}.setZoom(18);
			{{map_id}}.panTo(pt);
			
			GEvent.addListener(marker, "dragend", function(latlng){
				$("#{{id}}").val(latlng.lat() + "," + latlng.lng());
			});
			
			$("#{{id}}").change(function(){
				latlng = $(this).val().split(",");
				lat = parseFloat(latlng[0]);
				lng = parseFloat(latlng[1]);
				if (lat != NaN && lng != NaN){
					var pt = new GLatLng(lat,lng);
					{{marker_id}}.setLatLng(pt);
					{{map_id}}.panTo(pt);
				}
			});
			
			
	});
</script>
