<style type="text/css">

.stoplisteditor {
    width:750px;
    height:350px"
}

.stoplisteditor .right_area {
    position: absolute; 
    left:610px;
    margin-top : 5px;
}

.stoplisteditor .header {
    margin-left: 40px;
}

.stoplisteditor .left_area {
    width:600px;
    height: 500px;
    margin-top: 1em;
    float:left
}

.stoplisteditor .error {
    color : red;
}

.stoplisteditor ul {
    margin-left: 0px;
}

.stoplisteditor li {
    list-style-type:None;
}

.stoplisteditor .stop_list_input {
    width : 650px;
}

.stoplisteditor a {
    margin-right : 5px;
}

</style>
<div  class="stoplisteditor">
<input {{final_attrs}} class="stop_list_input" >

<div class="right_area"> 
    <div class="header">Stop list</div>

    <ul id="{{sortable_id}}" >
    </ul>
</div>

<div id="{{map_id}}" class="left_area"></div>

</div>

<script type="text/javascript">
	var {{map_id}};
    var {{editor}};            
		
	$(document).ready(function(){
        
			{{map_id}} = new GMap2(document.getElementById("{{map_id}}"));
			gogogo.mapSetup({{map_id}});
            {{map_id}}.addControl(new google.maps.LocalSearch(), new GControlPosition(G_ANCHOR_BOTTOM_RIGHT, new GSize(10,20)));        
                        
            {{editor}} = new gogogo.StopListEditor({{map_id}},$("#{{id}}"),$("#{{sortable_id}}"));
            
            {{editor}}.init();
                        			
	});
</script>
