{% extends 'base.html' %}
{% block title %} {{ page_title }} {% endblock %}

{% block content %}

<p></p><p></p>
<table>
    <tr>
        <td>Name: </td>
        <td>{{agency.name}}</td>
    </tr>
    <tr>
    	<td>Icon: </td>
    	<td><img src='{{MEDIA_URL}}{{agency.icon|default:"global/agency/icons/bus.png" }}'></td>
    </tr>
	<tr>
		<td>URL:</td>
    	<td> {{agency.url}}</td>  
	</tr>
    
    <tr>
    	<td>Phone:</td>
    	<td> {{agency.phone}}</td>
    </tr>
    
</table>


{% if user.is_staff %}
<a href="../edit/{{agency.key_name}}">Edit</a>
{% endif %}
{% endblock %}
