{% extends 'gogogo/base.html' %}
{% block title %} {{ page_title }} {% endblock %}

{%block content-header%}{%endblock%}

{% block content %}
{% if user.is_staff %}


<form action="{% url gogogo.views.db.agency.edit agency.key_name%}" method="POST">
	<fieldset class="form">
	<div class="fieldWrapper">
		<label>Agency </label> 
	</div>
   {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
	</fieldset>
	<div class="submit-row">
		<input type="submit" value="Submit" /> {{message}}
	</div>
	
</form>

{% endif %}

{% endblock %}
