{% extends 'gogogo/transit/base.html' %}
{% load i18n%}
{% block content %}

<div class="span-6 last">
<table>
    <tr>
        <td>{%trans "Name"%}: </td>
        <td>{{agency.name}}</td>
    </tr>
    <tr>
    	<td>{%trans "Icon"%}: </td>
    	<td><img src='{{MEDIA_URL}}{{agency.icon|default:"global/agency/icons/bus.png" }}'></td>
    </tr>
	<tr>
		<td>{%trans "URL"%}:</td>
    	<td><a href="{{agency.url}}">{{agency.url}}</a></td>  
	</tr>
    
    <tr>
    	<td>{%trans "Phone"%}:</td>
    	<td> {{agency.phone}}</td>
    </tr>   
    <tr><td colspan="2" align="right">
    <ul class="object-tools" >
    	<li></li><a href="/" >Report</a>
    <li><a href="{% url gogogo.views.db.edit object_type,agency.key_name%}" >Edit</a>
    </ul>
    </td></tr>
</table>
</div>
<p></p>
{% if rail_list|length %}

<table>
	<th>Railway</th>
{% for rail in rail_list %}
    <tr>
        <td><a href="{%url gogogo.views.transit.route agency.key_name rail.key_name %}">{{rail.long_name}}</a>
        </td>
    </tr>
{% endfor %}

</table>

{%endif%}

{% endblock %}
