{% extends 'gogogo/transit/base.html' %}
{% load i18n%}
{% block content %}

<div id="agency_info" class="span-6 {% ifequal showMap 'False' %}last{%endifequal%}">
<table>
    <tr>
        <td>{%trans "Name"%}: </td>
        <td>{{agency.name}}</td>
    </tr>
    <tr>
    	<td>{%trans "Icon"%}: </td>
    	<td><img src='{{MEDIA_URL}}{{agency.icon|default:"global/agency/icons/bus.png" }}'></td>
    </tr>
	<tr>
		<td>{%trans "URL"%}:</td>
    	<td><a href="{{agency.url}}">{{agency.url}}</a></td>  
	</tr>
    
    <tr>
    	<td>{%trans "Phone"%}:</td>
    	<td> {{agency.phone}}</td>
    </tr>   
</table>

<div style="height: 1em; margin-bottom:1em">
    <ul class="object-tools" >
    {% if user.is_authenticated %}
    	<li><a href="{%url gogogo.views.db.add route_kind%}?parent={{agency.id}}">{% trans "Add route" %}</a></li>
    {%endif%}
    	<li><a href="{%url gogogo.views.db.report.submit agency_kind,agency.id%}" >Report</a></li>
    <li><a href="{% url gogogo.views.db.edit agency_kind,agency.id%}" >Edit</a>
    </ul>
</div>

<p></p>
{% if railway_list|length %}

<h4>Railway</h4>

{% for railway in railway_list %}
    <div style="margin-bottom: 5px">
    	<div style="float: left; width:5em; margin-right:1em;background-color: {{railway.color}}">&nbsp;</div>
        <a href="{%url gogogo.views.transit.route agency.id railway.id %}">{{railway.long_name}}</a>
	</div>
    
{% endfor %}



{%endif%}
</div><!-- End of agency_info -->

{% if showMap %}

<div class="span-18 last" >
	<script type="text/javascript">
		var map;
		var stopManager;
		
		$(document).ready(function(){
			
			height = $('#agency_info').height();
		
			$('#map').height(Math.max(height,400));
			
			map = new GMap2(document.getElementById("map"));
			gogogo.mapSetup(map);
			stopManager = new gogogo.StopManager(map);
			
			var trip_id_list = "{{ trip_id_list|join:"," }}";
			trip_id_list = trip_id_list.split(",");
			
            for (var i in trip_id_list){
            	var trip = new gogogo.Trip(trip_id_list[i]);

				$(trip).one("stopObjectListComplete",function (e){
					var line = e.target.createPolyline();
					map.addOverlay(line);
				});
				
            	trip.query(function(trip){
					trip.queryStops(stopManager);
				});
			}
		});
	</script>
	<div id="map" style="width:100%;height:100%"></div>
</div>

{% endif %}


{% endblock %}
