{% extends 'gogogo/transit/base.html' %}

{% block content %}

<table>
    <tr>
        <td>Name: </td>
        <td>{{agency.name}}</td>
    </tr>
    <tr>
    	<td>Icon: </td>
    	<td><img src='{{MEDIA_URL}}{{agency.icon|default:"global/agency/icons/bus.png" }}'></td>
    </tr>
	<tr>
		<td>URL:</td>
    	<td><a href="{{agency.url}}">{{agency.url}}</a></td>  
	</tr>
    
    <tr>
    	<td>Phone:</td>
    	<td> {{agency.phone}}</td>
    </tr>
    
</table>
<p></p>
{% if rail_list|length %}

<table>
	<th>Railway</th>
{% for rail in rail_list %}
    <tr>
        <td>{{rail.short_name}}
        </td>
    </tr>
{% endfor %}

</table>

{%endif%}

{% endblock %}
