{% extends 'gogogo/transit/base.html' %}

{% block content %}

<table>
    <tr>
    	<td>Short Name: </td>
    	<td>{{route.short_name}}</td>
    	<td rowspan="5" valign="top"> Service Hours : </td>
    </tr>
	<tr>
		<td>Name:</td>
    	<td>{{route.long_name}}</a></td>  
	</tr>
    <tr>
        <td>Agency: </td>
        <td><a href="{%url gogogo.views.transit.agency route.agency%}">{{route.agency}}</a></td>
    </tr>
    <tr>
        <td>Travel : </td>
        <td>{%for travel in travel_list %}
        {{travel.0}} &#60;=&#62; {{travel.1}}<br>
        {% endfor%}
        </td>
    </tr>

   <tr>
   		<td colspan="2">{{route.desc}}</td>
   </tr> 
</table>

<p></p>

<table>
    <tr>
    	{%for trip in trip_list %}
        <td>{{trip.headsign}}</td>
        {%endfor %}
    </tr>
    <tr>
    	{%for trip in trip_list %}
        <td>
        	{%for stop in trip.stop_list %}
        	{#The link is not ready yet#}
        	<a href="/transit/stop/{{stop.0}}">{{stop.1}}</a><br>
        	{%endfor %}
        </td>
        {%endfor %}
    </tr>

</table>

{% endblock %}
