{% extends 'gogogo/transit/base.html' %}

{% block js %}
	{{block.super}}
	<script type="text/javascript">
		google.load("maps", "2.x");
		var map;
		
		$(document).ready(function(){
			width = parseInt($('#general_info').css("width").replace(/px/,'')) + 
				parseInt($('#general_info').css("padding-right").replace(/px/,'')) + 
				parseInt($('#general_info').css("margin-right").replace(/px/,''));
			
			height = parseInt($('#general_info').css("height").replace(/px/,''));
			
			//$('#map').css("left",width+"px");
			//$('#map').css("width",(screen.width - width - 30)+"px");
			$('#map').css("height",Math.max(height,400)+"px");
			
			map = new GMap2(document.getElementById("map"));
			map.setCenter(new GLatLng({{GOGOGO_DEFAULT_LOCATION}}), {{GOGOGO_DEFAULT_ZOOM}});
			map.setUIToDefault();
			
			var point;
			{% for point in endpoint_list %}
			point = new GLatLng({{point.lat}}, {{point.lng}});
            map.addOverlay(new GMarker(point));
            {% endfor %}
			
		});
	</script>
{% endblock %}

{% block content %}
<div id="general_info" class="colborder span-8">
{% if user.is_staff %}
<div class="objects-tool">
		<ul class="object-tools" >
    	<li></li><a href="{%url gogogo.views.db.edit object_type,route.key_name %}" >Edit</a>
    	</ul>
</div>
<p>
{%endif%}
<table>
    <tr>
    	<td>Short Name: </td>
    	<td>{{route.short_name}}</td>
    </tr>
	<tr>
		<td>Name:</td>
    	<td>{{route.long_name}}</a></td>  
	</tr>
    <tr>
        <td>Agency: </td>
        <td><a href="{%url gogogo.views.transit.agency route.agency%}">{{route.agency}}</a></td>
    </tr>
    <tr>
        <td>Travel : </td>
        <td>{%for travel in travel_list %}
        {{travel.0}} =&#62; {{travel.1}}<br>
        {% endfor%}
        </td>
    </tr>

</table>
</div>

<div class="span-16 last">
	<div id="map" style="width:100%;height:100%"></div>
</div>

<hr class="space"/>

<div class="span-24 last">
	{{route.desc|linebreaks}}
</div>

{% if trip_list %}
<div class="span-24 last">
	<h3 class="alt"> Trips </h3>
</div>

<div class="span-24">
	<table>
		<tr>
			{%for trip in trip_list %}
			<td><a href="{%url gogogo.views.transit.trip route.agency route.key_name trip.key_name %}">{{trip.headsign}}</a></td>
			{%endfor %}
		</tr>
		<tr>
			{%for trip in trip_list %}
			<td>
				{%for stop in trip.stop_list %}
				{#The link is not ready yet#}
				<a href="{%url gogogo.views.transit.stop stop.0 %}">{{stop.1}}</a><br>
				{%endfor %}
			</td>
			{%endfor %}
		</tr>

	</table>
</div>
{% endif %}

{% endblock %}
