{% extends 'gogogo/transit/base.html' %}

{% block js %}
{{block.super}}
	<script type="text/javascript">

    var map, layout;
    
	$(document).ready(function(){
		
		// TODO: Resize ui-layout-container for height that fit for screen
    	layout = $('#ui-layout-container').layout({ applyDefaultStyles: true });
    	
	    map = new gogogo.Map(document.getElementById("map"));

      	

	})
	</script>
{%endblock%}

{% block content %}

<div id="ui-layout-container" style="width:100%;height:550px">

<div class="ui-layout-west">
<table>
    <tr>
    	<td>Name: </td>
    	<td>{{stop.name}}</td>
    </tr>
	<tr>
		<td>URL:</td>
    	<td><a href="{{stop.url}}">{{stop.url}}</a></td>  
	</tr>
   <tr>
   		<td colspan="2">{{stop.desc}}</td>
   </tr> 
</table>
</div>

<div class="ui-layout-center">
	<div id="map" style="width: 100%; height: 100%"></div>
</div>

</div>

{% endblock %}
