{% extends 'gogogo/mapview.html' %}
{% load i18n %}

{% block content-header %}
{% include 'gogogo/transit/content_header.html'%}
{% endblock %}

{% block js %}
	{{block.super}}
	<script type="text/javascript">
	var stopManager;
	
	$(document).ready(function(){
		stopManager = new gogogo.StopManager(map);
		
		latlng = new GLatLng({{stop.latlng.lat}},{{stop.latlng.lon}});
		map.setZoom(19);
		map.panTo(latlng);
		
	});
	
	</script>
{% endblock %}

{% block left_column %}
<h4>{%trans "Stop Information" %}</h4>
<div class="user-tool">
    {% if user.is_authenticated %}
    	<a href="{%url gogogo.views.db.add stop_kind%}" class="ui-state-default ui-corner-all ui-button admin-button">{% trans "Add" %}</a>
    {%endif%}
    <a href="{%url gogogo.views.db.report.submit stop_kind,stop.id%}" class="ui-state-default ui-corner-all ui-button admin-button">Report</a>
    <a href="{% url gogogo.views.db.edit stop_kind,stop.id%}" class="ui-state-default ui-corner-all ui-button admin-button">Edit</a>
</div>

<table>
    <tr>
    	<td>{%trans "Name" %}: </td>
    	<td>{{stop.name}}</td>
    </tr>
	<tr>
		<td>{%trans "URL" %}: </td>
    	<td><a href="{{stop.url}}">{{stop.url}}</a></td>  
	</tr>
	<tr><td>{%trans "Code" %}: </td><td>{{stop.code}}</td></tr>
	<tr><td>{%trans "LatLng" %}: </td><td>{{stop.latlng}}</td></tr>
	<tr><td>{%trans "Location Type" %}: </td><td>{{stop.location_type}}</td></tr>
	<tr><td>{%trans "Parent Station" %}: </td><td>{%if parent %}
		<a href="{%url gogogo.views.transit.stop parent.id %}">{{parent.name}}</a>{% endif %}</td></tr>
   <tr>
   		<td colspan="2">{{stop.desc}}</td>
   </tr> 
</table>
{% endblock %}
