{% extends 'gogogo/mapview.html' %}

{% block content-header %}
{% include 'gogogo/transit/content_header.html'%}
{% endblock %}

{% block js %}
	{{block.super}}
	<script type="text/javascript">
	var stopManager;
	
	$(document).ready(function(){
		stopManager = new gogogo.StopManager(map);
		
		latlng = new GLatLng({{stop.latlng.lat}},{{stop.latlng.lon}});
		map.setZoom(19);
		map.panTo(latlng);
		
	});
	
	</script>
{% endblock %}

{% block left_column %}
<table>
    <tr>
    	<td>Name: </td>
    	<td>{{stop.name}}</td>
    </tr>
	<tr>
		<td>URL:</td>
    	<td><a href="{{stop.url}}">{{stop.url}}</a></td>  
	</tr>
   <tr>
   		<td colspan="2">{{stop.desc}}</td>
   </tr> 
</table>
{% endblock %}
