{% extends 'gogogo/transit/base.html' %}
{% load i18n %}

{% block js %}
	{{block.super}}
	<script type="text/javascript">
		google.load("maps", "2.x");
		var map;
		
		$(document).ready(function(){
			map = new GMap2(document.getElementById("map"));
			gogogo.mapSetup(map);
            
            var stopManager = new gogogo.StopManager(map);							
            var trip = new gogogo.Trip("{{trip.id}}");
            
            trip.query(function(trip){
				trip.queryStops(stopManager,function(trip){
                    var line = trip.createPolyline();
					map.addOverlay(line);
                    trip.zoomAndPan(map);
                });
            });
            
		});
	</script>
{% endblock %}


{% block content %}

{# Left Column #}
<div class="span-13 colborder">

<div class="span-6 colborder">
{%if user.is_staff %}
		<ul class="object-tools">
    	<li><a href="{%url gogogo.views.db.edit object_type,trip.id %}" >Edit</a></li>
    	</ul>
    	<p>
{%endif%}

<table>
    <tr>
    	<td>Agency : </td>
    	<td>{{agency.name}}</td>
    </tr>

	<tr>
		<td>Route :</td>
    	<td>{{route.long_name}}</a></td>  
	</tr>

    <tr>
        <td>Trip : </td>
        <td>{{trip.short_name}}</a></td>
    </tr>

    <tr>
        <td>Headsign : </td>
        <td>{{trip.headsign}}</td>
    </tr>

    <tr>
        <td>Fare : </td>
        <td></td>
    </tr>

</table>
</div>

<div class="span-6 last">
<table>
	<th>Services </th>
    <tr><td>Monday : </td><td></td></tr>
    <tr><td>Tuesday : </td><td></td></tr>
    <tr><td>Wednesday : </td><td></td></tr>
    <tr><td>Thursday : </td><td></td></tr>
    <tr><td>Friday : </td><td></td></tr>
    <tr><td>Saturday : </td><td></td></tr>
    <tr><td>Sunday : </td><td></td></tr>
    <tr><td>Special : </td><td></td></tr>
</table>
</div>

<div class="span-6 colborder">
<b>{%trans "Stations" %}:</b>
<ul>
{% for stop in stop_list %}
    <li><a href="{%url gogogo.views.transit.stop stop.id %}">{{stop.name}}</a></li>
{% endfor %}
</ul>
</div> <!-- Stations //-->

</div>
{# Right Column #}
<div class="span-11 last ">
	
	<div id="map" style="width:100%;height:400px"/>	
</div>


{% endblock %}
