{% extends 'gogogo/transit/base.html' %}
{% load i18n %}

{% block js %}
	{{block.super}}
	<script type="text/javascript">
		google.load("maps", "2.x");
		var map;
		
		$(document).ready(function(){
			map = new GMap2(document.getElementById("map"));
			gogogo.mapSetup(map);
            
            var stopManager = new gogogo.StopManager(map);							
            var trip = new gogogo.Trip("{{trip.id}}");
            
            trip.query(function(trip){
				trip.queryStops(stopManager,function(trip){
                    var line = trip.createPolyline();
					map.addOverlay(line);
                    trip.zoomAndPan(map);
                });
            });
            
		});
	</script>
{% endblock %}

{# Left Column #}
{% block left_column %}
<h4>Trip Information</h4>
{%if user.is_staff %}
	{% if user.is_authenticated %}
	<div class="staff-tools">
		<a href="{%url gogogo.views.db.add faretrip_kind%}?parent={{trip.id}}" class="ui-state-default ui-corner-all ui-button admin-button">{% trans "Add Fare Type" %}</a>
		<a href="{%url gogogo.views.db.edit object_type,trip.id %}" class="ui-state-default ui-corner-all ui-button admin-button">Edit</a>
	</div>  
	{%endif%}        
    	
{%endif%}
<table>
    <tr>
    	<td>Agency : </td>
    	<td>{{agency.name}}</td>
    </tr>

	<tr>
		<td>Route :</td>
    	<td>{{route.long_name}}</a></td>  
	</tr>

    <tr>
        <td>Trip : </td>
        <td>{{trip.short_name}}</a></td>
    </tr>

    <tr>
        <td>Headsign : </td>
        <td>{{trip.headsign}}</td>
    </tr>

    <tr>
        <td>Fare : </td>
        <td><ul >{% for faretrip in faretrip_list %}
        <li>{{faretrip.name}} {{faretrip.fare_range}}
        
           {%if user.is_staff %}
            <a href="{%url gogogo.views.db.edit faretrip_kind,faretrip.id %}">{% trans "Edit" %}</a>
           {%endif %}
        
        </li>
        {%endfor%}</ul>
        </td>
    </tr>

</table>
<h4>Services Hours</h4>
<table>
    <tr><td>Monday : </td><td></td></tr>
    <tr><td>Tuesday : </td><td></td></tr>
    <tr><td>Wednesday : </td><td></td></tr>
    <tr><td>Thursday : </td><td></td></tr>
    <tr><td>Friday : </td><td></td></tr>
    <tr><td>Saturday : </td><td></td></tr>
    <tr><td>Sunday : </td><td></td></tr>
    <tr><td>Special : </td><td></td></tr>
</table>



<h4>{%trans "Stations" %}:</h4>
<ul>
{% for stop in stop_list %}
    <li><a href="{%url gogogo.views.transit.stop stop.id %}">{{stop.name}}</a></li>
{% endfor %}
</ul>

{% endblock %}


{# Right Column #}
{% block right_column %}<div id="map" style="width:100%;height:400px"/>	{% endblock %}	
	




