/* CSS for www.gogogo.hk. The CSS file for gogogo module is gogogo/media/gogogo.css */

#header {
	height:20px;
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:5px;
}

.left_menu {
	float : left;
}

.right_menu {
	position : absolute ;
	right : 5px;
}

#content {
	padding-top:5px;
	padding-left: 5px;
}
#content h1 {
	color:#666666;
	font-size:18px;
	margin:0 0 0.2em;
	padding:0 6px 0 0;
}

#content h1, h2, h3, h4, h5 {
	font-weight:bold;
}

#content-header {
	padding-bottom:20px;
	padding-right:5px;
}

#footer {
	padding-top:20px;
	clear: both;
}

.setlang_link { 
	text-decoration: underline ;
	cursor : pointer;
}

.link_button {
	color: #0000EE;
}

a.link_button:visited {
	color: #0000EE;
}

