{% extends 'gogogo/base.html' %}
{%load i18n%}

{%block title%}
{% if object %}
{%trans "Change" %} {{object}} - Gogogo 
{%else%}
{%trans "Add" %} {{kind}} - Gogogo 
{%endif%}
{%endblock%}

{%block content-header%}<div class="content-header">
	<ul class="object-tools" >
		<li><a href="{{history_link}}">{% trans "History"%}</a></li>
		{% if view_object_link %}
		<li><a href="{{view_object_link}}">{% trans "View on site" %}</a></li>
		{% endif %}
	</ul>
	{% if object %}
	{% trans "Change" %} {{object}}
	{% else %}
	{% trans "Add" %} {{kind}}
	{% endif %}
</div>{%endblock%}

{% block content %}
<form action="{{action}}" method="POST">
	<fieldset class="form">	
	
   {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
	</fieldset>
	<div class="submit-row">
		<input type="submit" value="Submit" /> {{message|safe}}
	</div>
	
</form>

{% endblock %}
