{% extends 'gogogo/mapview.html' %}
{% load i18n %}

{% block content-header %}
{% endblock %}

{% block css %}
{{block.super}}
	<style type="text/css">
	.default {
		color: #cccccc;
	}
    
    .transit_plan {
        margin-top : 0.8em;
    }
    
    .transit_plan div {
        display: inline;
        margin-right : 5px;
    }
    
    .transit_plan .transit_op {
        float: right;
    }
    
    #markerwin .current_stop {
        color : red;
    }
    
    #markerwin .before {
        color : gray;
    }
    
    #markerwin .after {
        color : blue;
    }
    
	</style>
{% endblock %}

{% block js %}
{{block.super}}
	<script type="text/javascript">
	var stopManager;
	var planner;
	var modelManager;
	var clusterManager;

	var start_addr_default = {%trans "'From:'"%};
	var end_addr_default   = {%trans "'To:'"%};
	var empty_prompt       = {%trans "'Please input the address.'"%};
	var suggest_prompt     = {%trans "'Do you mean?'"%};

	var addressList = ["#startAddress" , "#endAddress"];
	var planningOutput;
	function _default(f) {
		var d;
		if (f === '#startAddress') d = start_addr_default;
		if (f === '#endAddress')   d = end_addr_default;

		if ($(f).val() === '') $(f).val(d);
		if ($(f).val() === d)  $(f).addClass('default');
	}

	function _empty(f) {
		var d;
		if (f === '#startAddress') d = start_addr_default;
		if (f === '#endAddress')   d = end_addr_default;

		if ($(f).val() === d) {
			$(f).removeClass('default');
			$(f).val('');
		}
	}
	
    /// Check is the address input field empty
	function checkEmpty(index) {
		input = addressList[index];
		if ($(input).val() == ""
			||  $(input).val() == start_addr_default
			||  $(input).val() == end_addr_default
			){
			$(input).focus();
			planningOutput.empty();
			planningOutput.append(empty_prompt);
			return true;
		}
		return false;
	}
    
    /// Bind events from the marker used in local search
    function bindLocalSearchMarker(link,marker,index,result) {
        $(link).click(function(){
            var address = planner.getAddress(index);
            _empty(addressList[index]);
            
            address.setAddress(result.addressLines.join(","));
			address.setLocation(new GLatLng(result.lat,result.lng));
            marker.closeInfoWindow();
        });
    }
    
    function extendLocalSearchMarker(marker,html,result){
        GEvent.addListener(marker,"click",function(){
            map.setZoom(17);           
        });

        $(html).empty();
        var startLink = $("<a></a>");
        $(startLink).append("{%trans 'Set as startpoint address' %}");
        bindLocalSearchMarker(startLink,marker,0,result);
        var endLink = $("<a></a>");
        $(endLink).append("{%trans 'Set as endpoint address' %}");
        bindLocalSearchMarker(endLink,marker,1,result);
        
        $(html).append(startLink);
        $(html).append(" ");
        $(html).append(endLink);
        return html
    }

	$(document).ready(function() {
    	layout.sizePane("west",230);

		modelManager = new gogogo.ModelManager();
        
        stopManager = new gogogo.StopManager(map,modelManager);

		clusterManager = new gogogo.ClusterManager(map,modelManager);

        var options = {
            resultList : google.maps.LocalSearch.RESULT_LIST_INLINE,
            searchFormHint : "Example Searches: Mong Kok",
            suppressZoomToBounds : true,
            onGenerateMarkerHtmlCallback : extendLocalSearchMarker,
        };
        
        map.addControl(new google.maps.LocalSearch(options),
        new GControlPosition(G_ANCHOR_BOTTOM_RIGHT, new GSize(10,20)));


		planningOutput = $("#planningOutput");
        planner = new gogogo.Planner(map,planningOutput,clusterManager);
        
        $(planner).bind("noClusterFound",function (e,address) {
              planningOutput.empty();
              
              planningOutput.append("No stations was found near to : " +address.getAddress() );
        });
		
		var panButtonList = ["#planStartAddress" , "#planEndAddress"];

		/// Set the focus to start or end address input
		function setFocus(index) {
			$(addressList[index]).focus();
		}

		/// Pan to the input address
		function panTo(index) {
			if (checkEmpty(index))
				return;
			var address = planner.getAddress(index);
			address.setAddress($(addressList[index]).val());
			address.clearQueryLocation();
			address.queryLocation(function(location) {
					map.setZoom(17);
					map.panTo(location);
					planningOutput.empty();
				});
		}

		$.each(addressList,function(i,input){

			var address = planner.getAddress(i);

			$(address).bind("addressChanged" , function(e) {
				$(input).val(e.target.getAddress() );
			});
			
			$(address).bind("unknown" , function(e) {
				setFocus(i);
				planningOutput.empty();
				planningOutput.append("Address unknown : " + address.getAddress() );
			});
		
		});

		$.each(panButtonList,function(i,btn){
			$(btn).click(function(){
				planner.clearWaitingActions();
				panTo(i);
			});
		});

		function clarify(placemarks,target) {
			var output = planningOutput;
			output.empty();
			output.append("<div>" + suggest_prompt + "</div>");
			
			target.createClarifyMarkers();

			$(placemarks).each(  function(i,place){

				var div = output.append("<div></div>");
				//div.append(i + ". ");
				div.append("<img src=\"" + gogogo.Address.getMarkerIconFile(i) + "\">");

				var lnk = $("<a class='link_button'>" + place.address + " </a>");

				div.append(lnk);
				var addr = place.address;
				var point = new GLatLng(place.Point.coordinates[1],place.Point.coordinates[0]);

				$(lnk).click(function() {
					target.setAddress(addr);
					target.setLocation(point);
					target.clearClarifyMarkers();
					output.empty();
				});

			});
		}

		$(planner).bind("clarifyAddress",function(event,index,address,response){

			clarify(response.Placemark,address);

		});
        
        $(stopManager).bind("markerAdded",function(e,marker,stop) {
            var markerWin = new gogogo.MarkerWin(map,stop,marker,modelManager,stopManager);
            
        });

		$("#planButton").click(function() {
			planner.clearWaitingActions();
			var notEmpty = true;
			/// Check for input address. Prompt user if the input is empty
			$.each(addressList,function(i,input){
				if (checkEmpty(i)){
                    notEmpty = false;
					return false;
                }
			});
            
            if (!notEmpty)
                return;

			planner.suggest ($("#startAddress").val() , $("#endAddress").val(),function(){
				planningOutput.empty();
				var plan_list = planner.getTransitPlanList();
                for (var i = 0 ; i < plan_list.length  ;  i++){
                    
                    var plan = plan_list[i];
                    var div = plan.createDiv(i+1,map,modelManager,stopManager,clusterManager);
                    $(planningOutput).append(div);

                }
			});
		});

		$('#startAddress').blur(function(){
			_default('#startAddress');
		});
		$('#endAddress').blur(function(){
			_default('#endAddress');
		});

		$('#startAddress').focus(function(){
			_empty('#startAddress');
		});
		$('#endAddress').focus(function(){
			_empty('#endAddress');
		});

		_default('#startAddress');
		_default('#endAddress');
	});


	</script>
{% endblock %}

{% block left_column %}
<b>The page is under constructing. To view stop on map ,  zoom to level 15 or above.  </b><p></p>

<div>
	<input id="startAddress" type="text" name="start" style="width:150px;margin-right:2px"/>
	<button id="planStartAddress">{%trans "Go"%}</button>
	<input id="endAddress" type="text" name="end" style="width:150px;margin-right:2px;margin-top:5px;margin-bottom:5px" />
	<button id="planEndAddress">{%trans "Go"%}</button>

	<button id="planButton">{%trans "Plan"%}</button>
</div>

<div id="planningOutput">

</div>

{% endblock %}
