{% extends 'base.html' %}
{% block title %}Gogogo{% endblock %}

{% block content %}

{% ifequal LANGUAGE_CODE "en" %}
<h1>Welcome to Gogogo project!</h1>

{% endifequal %}

{% ifequal LANGUAGE_CODE "zh-tw" %}
<h1>歡迎來到Gogogo計劃！</h1>
{% endifequal %}

{% ifequal LANGUAGE_CODE "zh-cn" %}
<h1>欢迎来到Gogogo计划！</h1>
{% endifequal %}

<p>
<p>
The Gogogo Project aims to provide a comprehensive and easy-to-use transit planning service for Hong Kong. We want Gogogo to be the service you can rely on whenever you want to find out how to get from point A to point B within Hong Kong.
<p>
<p>
The Gogogo Project is currently building the service and maintaining the transit database with team members collaborating using open source methods. If you are interested join us! Apart from software developers, we also need contributors who can look after the community-maintained transit database


{% endblock %}
