{% extends 'base.html' %}
{% load i18n %}
{% block title %}About the Gogogo Project{% endblock %}

{% block content %}

{% ifequal LANGUAGE_CODE "en" %}
<h1>Welcome to Gogogo project!</h1>

{% endifequal %}

{% ifequal LANGUAGE_CODE "zh-tw" %}
<h1>歡迎來到Gogogo計劃！</h1>
{% endifequal %}

{% ifequal LANGUAGE_CODE "zh-cn" %}
<h1>欢迎来到Gogogo计划！</h1>
{% endifequal %}

<br />
<p>
The Gogogo Project aims to provide a comprehensive and easy-to-use transit planning service for Hong Kong. We want Gogogo to be the service you can rely on whenever you want to find out how to get from point A to point B within Hong Kong.
</p>
<p>
The Gogogo Project is currently building the service and maintaining the transit database with team members collaborating using open source methods. If you are interested join us! You may participate in our <a href="http://groups.google.com/group/gogogo-hk-discuss">gogogo-hk-discuss google group</a>. Apart from software developers, we will also need contributors for our the community-maintained transit database.
</p>

<h3>{% trans "Transit Data" %}</h3>
<p>We Gogogo developers believe in the spirit of openness and free flow of information. Right now we are busy perfecting the data format and data entry interface, so the data is expected to be relatively unstable and inaccurate, but we do intend to release the transit information database to the public domain when the data is sufficiently accurate and comprehensive. As a corollary, all user contributions must necessarily be public domain.</p>

<h3>{% trans "Team Member list" %}</h3>

<h5>{% trans "Developers" %}:</h5>
<ul>
<li><a href="http://benlaux.blogspot.com">Ben Lau</a>, PIC</li>
<li>Abel, Passerby</li>
<li><a href="http://www.google.com/search?hl=en&q=mrkschan">mrkschan</a>, GaoGaiGar fans</li>
<li><a href="http://sammy.hk">Sammy Fung</a>, Developer</li>
<li><a href="http://www.element14.org">Si</a>, Developer</li>
<li><a href="http://vincicat.blogspot.com">Vinci</a>, Developer</li>
<li><a href="http://hilary.e-fever.org">Hilary</a>, Developer</li>
</ul>

<h5>{% trans "Contributors" %}:</h5>
<ul>
<li><a href="http://littleblackrabit.mysinablog.com/">Haggen So</a>, community memeber</li>
<li>Henry Law, community memeber</li>
<li><a href="http://blog.shawtim.com/">ShawTim</a></li>
</ul>

{% endblock %}
