<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
      <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}combined-{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}.css" />
    {% endblock %}

    {% block js %}
        <script type="text/javascript" src="{{ MEDIA_URL }}combined-{{ LANGUAGE_CODE }}.js"></script>
		<script type="text/javascript">
		  $(document).ready(function() {
				$(".setlang_link").click(function(){
					$("#setlang_input").val(this.lang);
					$("#setlang_form").submit();
				})
		   })
		</script>
      
    {% endblock %}

    {% block extra-head %}{% endblock %}
  </head>

  <body>
    {% block header %}
      <div id="header">
        <div class="menu">
        	<div class="left_menu" >
          		<a href="/" class="link_button">Planning</a> |
          		<a href="{%url gogogo.views.transit.index %}" class="link_button">Transit Information</a> |
          		<a href="/" class="link_button">About</a>
			</div>
			
			<div class="right_menu" >
          {% if user.is_authenticated %}
          	{{ user.username }} |
          		{% if user.is_staff %}
				<a href="/admin/" class="link_button">Admin</a> |
          		{% endif %}
          {% endif %}

			{% for lang in LANGUAGES %}
				{%if not forloop.first %}| {%endif%}<span class="setlang_link link_button" id="setlang_{{lang.0}}" lang="{{lang.0}}">{{ lang.1 }}</span>
			{% endfor %}
          
          | Help |
          
          {% if user.is_authenticated %}
            <a href="{% url django.contrib.auth.views.logout %}" class="link_button">Sign out</a>
          {% else %}
            <a href="{% url django.contrib.auth.views.login %}" class="link_button">Sign in</a>
          {% endif %}
          	</div>
          
        </div>
      </div>
      <hr>
    {% endblock %}
    <div id="content">
      {% block content-header %}
        {% if error %}<div class="error">{{ error }}</div>{% endif %}
        {% if info %}<div class="info">{{ info }}</div>{% endif %}
        {% if messages %}
          {% for message in messages %}
            <div class="info">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endblock %}
      {% block content %}{% endblock %}
    </div>
    <div id="footer">
    <hr>
      <a href="http://code.google.com/p/app-engine-patch/"><img src="{{ MEDIA_URL }}global/powered-by-app-engine-patch.png" alt="powered by app-engine-patch" /></a>
    </div>
    
    		{# Hidden language selection form #}
 			<form id="setlang_form" action="/i18n/setlang/" method="post">
			<input name="next" type="hidden" value="{{ request.get_full_path|urlencode }}" />
			<input id="setlang_input" name="language"  type="hidden">
			</select>
  </body>
</html>
