{% extends 'base.html' %}
{% block title %}Welcome!{% endblock %}

{% block content %}
<h1>Welcome to the app-engine-patch sample project</h1>
<p>This is your automatically scaling site!</p>

<p>
Let's have a look at our generic views
<a href="{% url myapp.views.list_people %}">sample</a>
(a simple person list with file uploads).
</p>

<p>
You can also visit Django's <a href="/admin/">admin interface</a>. If needed, you can <a href="{% url myapp.views.create_admin_user %}">generate an admin user</a> with the username and password "admin".
</p>

<p>
This sample project includes a port of <a href="http://www.bitbucket.org/ubernostrum/django-registration/wiki/Home">django-registration</a>. We maintain a list of <a href="http://code.google.com/p/app-engine-patch/wiki/OpenSourceProjects">open-source projects</a> to get you started faster with App Engine development.
</p>
{% endblock %}
