<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>GoGoGo</title>
  <link type="text/css" href="themes/smoothness/ui.all.css" rel="Stylesheet" />
  <script type="text/javascript" src="../js/jquery-1.3.2.min.js"></script>
  <script type="text/javascript" src="../js/jquery-ui-1.7.1.custom.min.js"></script>
  <script type="text/javascript" src="../js/jquery.layout.js"></script>
  <script src="http://www.google.com/jsapi?key={{GOOGLE_MAPS_KEY}}" type="text/javascript"></script>
  <script type="text/javascript">
    
    google.load("maps", "2.x");
    var map, layout;

    $(document).ready(function(){
      $("button").click(function() {
        map.clearOverlays();     
        $.getJSON("api/data.json",
          function(data) {
            $.each(data.points, function(i, item) {
              var point = new GLatLng(item.lat, item.lng);
              map.addOverlay(new GMarker(point));
            });
        });
      });
      map = new GMap2(document.getElementById("map"));
      layout = $('body').layout({ applyDefaultStyles: true });
      map.setCenter(new GLatLng(22.3, 114.167), 13);
      map.setUIToDefault();
      $.getJSON("api/data.json",
        function(data) {
          $.each(data.points, function(i, item) {
            var point = new GLatLng(item.lat, item.lng);
            map.addOverlay(new GMarker(point));
          });
      });
    });

  </script>
</head>
<body>  

<div class="ui-layout-west">
  <button id="refresh" class="ui-state-default">Refresh</button>
</div>
<div class="ui-layout-center">
  <div id="map" style="width: 100%; height: 100%"></div>
</div>

</body>
</html>
