{% extends 'base.html' %}
{% block title %} {{ page_title }} {% endblock %}

{% block content %}

<p></p><p></p>
<table>
    <tr>
    	<td></td>
        <td>Name</td><td>URL</td><td>Phone</td>
    </tr>
    
    {% for agency in agency_list %}
    
    <tr>
    	<td><img src='{{MEDIA_URL}}{{agency.icon|default:"global/agency/icons/bus.png" }}'></td>
    	<td> <a href="browse/{{agency.id}}">{{agency.name}}</a> </td>
    	<td> {{agency.url}} </td>  
    	<td> {{agency.phone}} </td>    		
    </tr>
    {% endfor %}
    
</table>

{% endblock %}
